.lista {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 60px 400px;
  background-color: #fcfcfc;
}

.lista__item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.lista__logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.lista__header {
  margin-bottom: 2rem;
}

.lista__heading {
  margin: 0;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

.lista__heading .destaque {
  color: #ee7d21;
}

.lista__heading .secundario {
  color: #1d3557;
}

.lista__intro {
  color: #555;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.lista__content {
  max-width: 800px;
  padding-left: 20px;
}

.lista__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.lista__description {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #888;
}

span {
  color: #777;
}

.lista__link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

.lista__website {
  color: #888;
  text-decoration: none;
}

.lista__website:hover {
  text-decoration: underline;
}

.lista__social {
  display: flex;
  gap: 30px;
  margin-top: 8px;
}

.lista__social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #888;
  font-weight: bold;
  font-size: 0.95rem;
  text-decoration: none;
  transition: all 0.3s;
}

.lista__social-icon:hover {
  background-color: #ee7d21;
  color: #fff;
  transform: scale(1.01);
}

.lista__item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}


@media (max-width: 768px) {
  .lista__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .lista__logo {
    width: 60px;
    height: 60px;
  }
}
