.collaborate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  background-color: var(--gray-025);
}

.collaborate {
  display: inline-flex;
  padding: 12px 26px;
  color: var(--black);
  border-radius: 20px;
  border: 1px solid var(--black);
  transition: background-color 0.3s, transform 0.2s;
}

.collaborate:hover {
  background-color: var(--gray-100);
  transform: translateY(-2px);
}

.hero__github {
  display: inline-flex;
  border: 1px solid var(--black);
  color: var(--black);
  padding: 12px 30px;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.hero__github:hover {
  background-color: var(--gray-100);
  transform: translateY(-2px);
}
