.category-selector {
  position: relative;
  display: inline-block;
}

.category-selector__list {
  position: absolute;
  top: 110%;
  background: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  list-style: none;
  padding: 5px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.category-selector__item {
  padding: 8px 15px;
  cursor: pointer;
  color: var(--gray-900);
}

.category-selector__item:hover {
  background-color: var(--gray-100);
}
