/* [project]/src/styles/Navbar.module.css [client] (css) */
.Navbar-module__P48_Aa__navbar {
  z-index: 1;
  background-color: var(--gray-025);
  border-bottom: 1px solid var(--gray-200);
  width: 100%;
  height: 80px;
  transition: background-color .3s ease-in-out, height .3s color .3s ease-in-out;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  display: flex;
  position: fixed;
}

.Navbar-module__P48_Aa__navbar--top {
  display: none;
}

.Navbar-module__P48_Aa__navbar--scrolled .Navbar-module__P48_Aa__navbar__logo, .Navbar-module__P48_Aa__navbar--scrolled .Navbar-module__P48_Aa__navbar__links a, .Navbar-module__P48_Aa__navbar--scrolled .Navbar-module__P48_Aa__navbar__icons, .Navbar-module__P48_Aa__navbar--scrolled .Navbar-module__P48_Aa__navbar__icons .Navbar-module__P48_Aa__theme__toggle .Navbar-module__P48_Aa__icon {
  color: var(--black);
}

.Navbar-module__P48_Aa__navbar__links {
  gap: 30px;
  display: flex;
}

.Navbar-module__P48_Aa__logo {
  width: 150px;
}

.Navbar-module__P48_Aa__button__format {
  border: 1px solid var(--gray-300);
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  font-size: 1rem;
}

.Navbar-module__P48_Aa__theme__toggle .Navbar-module__P48_Aa__icon {
  cursor: pointer;
  color: var(--black);
  font-size: 1.3rem;
  transition: color .3s;
}

.Navbar-module__P48_Aa__theme__toggle .Navbar-module__P48_Aa__icon:hover {
  color: var(--orange-600);
}

.Navbar-module__P48_Aa__navbar__links a {
  text-decoration: none;
  transition: color .25s ease-in-out;
}

.Navbar-module__P48_Aa__navbar__links a:hover, .Navbar-module__P48_Aa__navbar__links a.Navbar-module__P48_Aa__navbar__action:visited {
  color: var(--orange-600);
}

.Navbar-module__P48_Aa__navbar__icons {
  align-items: center;
  display: flex;
}

.Navbar-module__P48_Aa__navbar__hamburger {
  display: none;
}

@media (min-width: 64rem) and (max-width: 1280px) {
  .Navbar-module__P48_Aa__navbar {
    height: 80px;
    padding: 0 60px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Navbar-module__P48_Aa__navbar {
    height: 80px;
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .Navbar-module__P48_Aa__navbar {
    padding: 0 30px;
  }

  .Navbar-module__P48_Aa__navbar__hamburger_and_theme {
    gap: 15px;
    display: flex;
  }

  .Navbar-module__P48_Aa__navbar__hamburger_and_theme .Navbar-module__P48_Aa__theme-toggle, .Navbar-module__P48_Aa__navbar__hamburger_and_theme .Navbar-module__P48_Aa__navbar__hamburger {
    align-items: center;
    display: flex;
  }

  .Navbar-module__P48_Aa__navbar__hamburger {
    color: var(--black);
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
  }

  .Navbar-module__P48_Aa__navbar__links.Navbar-module__P48_Aa__active {
    opacity: 1;
    max-height: 300px;
  }

  .Navbar-module__P48_Aa__navbar__links {
    background-color: var(--gray-025);
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
    transition: max-height .4s, opacity .3s;
    position: absolute;
    top: 70px;
    right: 0;
  }

  .Navbar-module__P48_Aa__navbar__links a {
    border-bottom: 1px solid var(--gray-200);
    width: 100%;
    padding-bottom: 20px;
  }
}

/*# sourceMappingURL=src_styles_Navbar_module_css_65f1660e._.single.css.map*/