/* [project]/src/components/Hero/Hero.css [client] (css) */
.hero {
  background: linear-gradient(#00000080, #00000080), url("https://mozcomunidades.web.app/images/background/4.jpg") center / cover no-repeat;
  align-items: center;
  height: 100vh;
  display: flex;
}

.hero__text {
  color: var(--special-hero);
}

[data-theme="dark"] .hero {
  background: linear-gradient(#000c, #000c), url("https://mozcomunidades.web.app/images/background/4.jpg") center / cover no-repeat;
}

.hero__content {
  max-width: 700px;
  transition: opacity .5s, transform .5s;
}

.--hero-logo {
  width: 300px;
}

.hero__content.hidden {
  opacity: 0;
  transform: translateY(-20px);
}

.hero__content.visible {
  opacity: 1;
  transform: translateY(0);
}

.hero__description {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.hero__buttons {
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  display: flex;
}

.hero__button {
  background-color: var(--orange-600);
  color: var(--special-hero);
  cursor: pointer;
  border-radius: 40px;
  align-items: center;
  gap: 8px;
  padding: 12px 30px;
  font-weight: bold;
  transition: background-color .3s, transform .2s;
  animation: 2s infinite bounce;
  display: inline-flex;
}

.hero__button:hover {
  background-color: var(--orange-500);
  transform: translateY(-2px);
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .--hero-logo {
    width: 300px;
  }

  .hero__description {
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px) {
  .--hero-logo {
    width: 300px;
  }

  .hero__description {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-left: 50px;
  }

  .--hero-logo {
    width: 250px;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__button {
    padding: 10px 25px;
  }
}

/* [project]/src/components/Tooltip/Tooltip.css [client] (css) */
.tooltip__wrapper {
  display: inline-block;
  position: relative;
}

.tooltip__content {
  background-color: var(--sp-b);
  color: var(--special);
  border: 1px solid var(--black);
  white-space: nowrap;
  opacity: 0;
  border-radius: 50px;
  padding: 6px 10px;
  font-size: .75rem;
  animation: .35s ease-out forwards tooltipFadeIn;
  position: absolute;
}

.tooltip__up {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%)translateY(6px);
}

.tooltip__down {
  top: 125%;
  left: -50%;
  transform: translateX(-50%)translateY(-6px);
}

.tooltip__left {
  top: 100%;
  right: 15%;
  transform: translateY(-50%)translateX(6px);
}

.tooltip__right {
  top: 50%;
  left: 125%;
  transform: translateY(-50%)translateX(-6px);
}

@keyframes tooltipFadeIn {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .tooltip__content {
    opacity: 1;
    animation: none;
  }
}

/* [project]/src/components/List/List.css [client] (css) */
.list {
  background-color: var(--gray-025);
  color: var(--gra-300);
  flex-direction: column;
  gap: 30px;
  padding: 60px 400px;
  display: flex;
}

.list__item {
  border-bottom: 1px solid var(--gray-200);
  gap: 20px;
  padding-bottom: 20px;
  display: flex;
}

.list__logo {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: transform .3s, box-shadow .3s, border-radius .3s;
}

.list__logo:hover {
  cursor: pointer;
  border-radius: 0%;
  transform: scale(1.2);
  box-shadow: 0 8px 16px #00000040;
}

.list__header {
  border-bottom: 2px solid var(--gray-200);
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
  padding-bottom: 20px;
  display: flex;
}

.list__title {
  color: var(--gray-800);
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-flex;
}

.list__title:hover:after {
  transform: translateX(4px);
}

.list__row {
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.list__description {
  color: var(--gray-500);
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  flex: auto;
  min-width: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  display: -webkit-box;
  overflow: hidden;
}

.list__more {
  color: var(--gray-700);
  border: 1px solid var(--gray-700);
  border-radius: 25px;
  flex-shrink: 0;
  align-items: center;
  gap: 6px;
  padding: 6px 14px;
  font-size: .95rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
  display: inline-flex;
}

.list__more:hover {
  background-color: var(--gray-075);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px #00000026;
}

.list__website {
  color: var(--gray-500);
  text-decoration: none;
}

.list__heading {
  margin: 1.5rem 0 0;
  font-size: 1.8rem;
}

.list__heading .destaque {
  color: var(--orange-600);
}

.list__heading .secundario {
  color: var(--gray-700);
}

.list__intro {
  color: var(--gray-700);
  margin-top: .25rem;
  font-size: 1rem;
}

.list__content {
  max-width: 800px;
  padding-left: 20px;
}

span {
  color: var(--gray-600);
}

.list__link {
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
  display: inline-flex;
}

.list__website:hover {
  text-decoration: underline;
}

.list__no-website {
  color: var(--gray-400);
  cursor: default;
  font-style: italic;
}

.list__social {
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 8px;
  display: flex;
}

.list__social-icon {
  border: 1px solid var(--gray-400);
  width: 50px;
  height: 50px;
  color: var(--gray-400);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: .95rem;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.list__social-icon:hover {
  background-color: var(--hover-color, #ee7d21);
  color: var(--gray-900);
  border: 1px solid var(--gray-900);
  transform: scale(1.01);
}

.list__actions {
  gap: 10px;
  display: flex;
}

.list__categories {
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  display: flex;
}

.list__category {
  background-color: var(--gray-100);
  color: var(--gray-800);
  white-space: nowrap;
  border-radius: 20px;
  align-items: center;
  gap: 6px;
  margin: 10px 0;
  padding: 10px;
  font-size: .85rem;
  font-weight: 500;
  display: inline-flex;
}

.list__contact {
  margin-top: 16px;
  display: flex;
}

.list__contact-button {
  color: var(--gray-500);
  border: 1px solid var(--gray-500);
  border-radius: 100px;
  padding: 10px 24px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color .3s, transform .2s;
}

.list__contact-button:hover {
  background-color: var(--gray-075);
  transform: translateY(-1px);
}

.list__items-container.grid-view {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  display: grid;
}

.list__items-container.list-view {
  flex-direction: column;
  gap: 30px;
  display: flex;
}

.grid-view .list__item {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 64rem) and (max-width: 1280px) {
  .list {
    padding: 4rem clamp(2rem, 6vw, 8rem);
  }

  .list__row {
    flex-direction: column;
    align-items: start;
    gap: 12px;
    padding: 10px 0;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .list {
    text-align: center;
    padding: 3.75rem clamp(1.5rem, 8vw, 25rem);
  }

  .list__content {
    padding-left: 0;
  }

  .list__item {
    flex-direction: column;
    align-items: center;
  }

  .list__logo {
    width: 60px;
    height: 60px;
  }

  .list__categories, .list__social, .list__contact {
    justify-content: center;
  }

  .events {
    width: 60%;
    margin: 1rem auto;
  }

  .list__row {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .list {
    text-align: center;
    padding: 3.75rem clamp(1.5rem, 8vw, 25rem);
  }

  .list__content {
    padding-left: 0;
  }

  .list__item {
    flex-direction: column;
    align-items: center;
  }

  .list__logo {
    width: 60px;
    height: 60px;
  }

  .list__social {
    justify-content: center;
    gap: 20px;
  }

  .list__categories {
    justify-content: center;
  }

  .list__contact {
    justify-content: center;
    display: flex;
  }

  .events {
    width: 60%;
    margin: 1rem auto;
  }

  .list__row {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
  }
}

/* [project]/src/components/SearchBar/SearchBar.css [client] (css) */
.search-bar {
  border: 1px solid var(--gray-300);
  background-color: #fff;
  border-radius: 25px;
  align-items: center;
  width: 40px;
  height: 50px;
  transition: width .3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.search-bar.expanded {
  width: 250px;
}

.search-bar__icon {
  cursor: pointer;
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
}

.search-bar__input {
  opacity: 0;
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 10px 10px 0;
  font-size: 1rem;
  transition: opacity .3s;
}

.search-bar.expanded .search-bar__input {
  opacity: 1;
}

/* [project]/src/components/CategorySelector/CategorySelector.css [client] (css) */
.category-selector {
  display: inline-block;
  position: relative;
}

.category-selector__list {
  background: var(--white);
  border: 1px solid var(--gray-300);
  z-index: 10;
  border-radius: 8px;
  padding: 5px 0;
  list-style: none;
  position: absolute;
  top: 110%;
  box-shadow: 0 2px 5px #0003;
}

.category-selector__item {
  cursor: pointer;
  color: var(--gray-900);
  padding: 8px 15px;
}

.category-selector__item:hover {
  background-color: var(--gray-100);
}

/* [project]/src/components/Events/Events.css [client] (css) */
.events__container {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 205px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
}

.events__card {
  background-color: var(--gray-050);
  border-bottom: 1px solid var(--gray-400);
  border-radius: 8px;
  flex-direction: column;
  flex: 0 200px;
  max-width: 100%;
  transition: transform .2s, box-shadow .2s;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 12px #00000014;
}

.events__card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px #0000001f;
}

.events__image {
  object-fit: cover;
}

.events__title {
  color: var(--gray-900);
  margin: .8rem 1rem .4rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.events__date {
  color: var(--gray-700);
  margin: 0 1rem .8rem;
  font-size: .9rem;
}

.events__button {
  background-color: var(--orange-500);
  color: var(--special);
  text-align: center;
  border-radius: 4px;
  margin: 0 1rem 1rem;
  padding: .5rem 1rem;
  font-size: .9rem;
  text-decoration: none;
  transition: background-color .2s;
  display: inline-block;
}

.events__button:hover {
  background-color: var(--orange-600);
}

.events__no-results {
  text-align: center;
  color: var(--gray-700);
  padding: 2rem 0;
  font-size: 1rem;
}

/* [project]/src/components/Navbar/Navbar.css [client] (css) */
.navbar {
  z-index: 1;
  background-color: var(--gray-025);
  border-bottom: 1px solid var(--gray-200);
  width: 100%;
  height: 80px;
  transition: background-color .3s ease-in-out, height .3s color .3s ease-in-out;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
}

.navbar--top {
  display: none;
}

.navbar--scrolled .navbar__logo, .navbar--scrolled .navbar__links a, .navbar--scrolled .navbar__icons, .navbar--scrolled .navbar__icons .theme-toggle .icon, .navbar--scrolled .navbar__icons .language-toggle, .navbar--scrolled .navbar__icons .language-toggle .lang {
  color: var(--black);
}

.navbar__links {
  gap: 30px;
  display: flex;
}

.--logo {
  width: 150px;
}

.navbar__links a {
  text-decoration: none;
  transition: color .25s ease-in-out;
}

.navbar__links a:hover, .navbar__links a.navbar__action:visited {
  color: var(--orange-600);
}

.navbar__icons {
  align-items: center;
  display: flex;
}

.navbar__hamburger {
  display: none;
}

@media (min-width: 64rem) and (max-width: 1280px) {
  .navbar {
    height: 80px;
    padding: 0 60px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    height: 80px;
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar__hamburger-and-theme {
    gap: 15px;
    display: flex;
  }

  .navbar__hamburger-and-theme .theme-toggle, .navbar__hamburger-and-theme .navbar__hamburger {
    align-items: center;
    display: flex;
  }

  .navbar__hamburger {
    color: var(--black);
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
  }

  .navbar__links.active {
    opacity: 1;
    max-height: 300px;
  }

  .navbar__links {
    background-color: var(--gray-025);
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
    transition: max-height .4s, opacity .3s;
    position: absolute;
    top: 70px;
    right: 0;
  }

  .navbar__links a {
    border-bottom: 1px solid var(--gray-200);
    width: 100%;
    padding-bottom: 20px;
  }
}

/* [project]/src/components/Collaborate/CollaborateButton.css [client] (css) */
.collaborate-wrapper {
  background-color: var(--gray-025);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px 0;
  display: flex;
}

.collaborate {
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 30px;
  align-items: center;
  gap: 10px;
  padding: 12px 26px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s, transform .2s;
  display: inline-flex;
}

.collaborate:hover {
  background-color: var(--gray-100);
  transform: translateY(-2px);
}

.collaborate span {
  color: var(--white);
}

.hero__github {
  border: 1px solid var(--black);
  color: var(--black);
}

.hero__github:hover {
  background-color: var(--gray-100);
  transform: translateY(-2px);
}

.hero__github-icon {
  font-size: 1.1rem;
}

.hero__github {
  border-radius: 40px;
  align-items: center;
  gap: 8px;
  padding: 12px 30px;
  font-weight: bold;
  transition: background-color .3s, transform .2s;
  display: inline-flex;
}

/* [project]/src/components/Footer/Footer.css [client] (css) */
.footer {
  background-color: var(--dark-bg);
  color: var(--white);
  padding: 80px 0;
}

.footer__content {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.footer__bottom p {
  color: #fff;
}

.footer__link {
  color: var(--accent-red);
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: none;
}

@media (max-width: 48rem) {
  .footer {
    text-align: center;
  }

  .footer__bottom {
    max-width: 350px;
  }
}

/* [project]/src/components/ScrollTopButton/ScrollTopButton.css [client] (css) */
.scroll-top {
  color: #fff;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  background-color: #ee7d21;
  border: none;
  padding: 12px 15px;
  font-size: 1.5rem;
  transition: opacity .3s, transform .3s, background-color .3s;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transform: translateY(20px);
}

.scroll-top.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-top:hover {
  background-color: #ca6d20;
}

@media (max-width: 768px) {
  .scroll-top {
    padding: 10px 12px;
    font-size: 1.3rem;
    bottom: 25px;
    right: 25px;
  }
}

@media (max-width: 480px) {
  .scroll-top {
    padding: 8px 10px;
    font-size: 1.2rem;
    bottom: 30px;
    right: 30px;
  }
}

/* [project]/src/index.css [client] (css) */
html {
  scroll-behavior: smooth;
}

:root {
  --black: #000;
  --white: #fff;
  --special: #eee;
  --sp-b: #333;
  --special-hero: #ccc;
  --gray-900: #222;
  --gray-800: #333;
  --gray-700: #555;
  --gray-600: #777;
  --gray-500: #888;
  --gray-400: #aaa;
  --gray-300: #ccc;
  --gray-200: #ddd;
  --gray-100: #f0f0f0;
  --gray-075: #f4f4f4;
  --gray-050: #f1f1f1;
  --gray-025: #fcfcfc;
  --orange-700: #ca6d20;
  --orange-600: #ee7d21;
  --orange-500: #e4904b;
  --accent-red: #ff6f61;
  --accent-salmon: #ffa07a;
  --dark-bg: #1c1c1e;
}

[data-theme="dark"] {
  --black: #fff;
  --white: #000;
  --special: #f1f1f1;
  --sp-b: #111;
  --special-hero: #f1f1f1;
  --gray-900: #f1f1f1;
  --gray-800: #ccc;
  --gray-700: #aaa;
  --gray-600: #888;
  --gray-500: #777;
  --gray-400: #555;
  --gray-300: #333;
  --gray-200: #222;
  --gray-100: #1c1c1e;
  --gray-075: #2a2a2a;
  --gray-050: #111;
  --gray-025: #111;
  --orange-700: #e4904b;
  --orange-600: #ee7d21;
  --orange-500: #ca6d20;
  --accent-red: #ff8a80;
  --accent-salmon: #ffb199;
  --dark-bg: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: Bellota, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

.navbar, .hero, .footer {
  padding: 0 200px;
}

a {
  text-decoration: none;
}

.button__format {
  border: 1px solid var(--gray-300);
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  font-size: 1rem;
}

.theme-toggle .icon {
  cursor: pointer;
  color: var(--black);
  font-size: 1.3rem;
  transition: color .3s;
}

.theme-toggle .icon:hover {
  color: var(--orange-600);
}

/*# sourceMappingURL=src_ed557a71._.css.map*/