/* [project]/src/components/Hero/Hero.module.css [client] (css) */
.Hero-module__JgYmMq__hero {
  background: linear-gradient(#00000080, #00000080), url("https://mozcomunidades.web.app/images/background/4.jpg") center / cover no-repeat;
  align-items: center;
  height: 100vh;
  padding: 0 200px;
  display: flex;
}

.Hero-module__JgYmMq__hero__text {
  color: var(--special-hero);
}

[data-theme="dark"] .Hero-module__JgYmMq__hero {
  background: linear-gradient(#000c, #000c), url("https://mozcomunidades.web.app/images/background/4.jpg") center / cover no-repeat;
}

.Hero-module__JgYmMq__hero__content {
  max-width: 700px;
  transition: opacity .5s, transform .5s;
}

.Hero-module__JgYmMq__hero__logo {
  width: 300px;
}

.Hero-module__JgYmMq__hero__content.Hero-module__JgYmMq__hidden {
  opacity: 0;
  transform: translateY(-20px);
}

.Hero-module__JgYmMq__hero__content.Hero-module__JgYmMq__visible {
  opacity: 1;
  transform: translateY(0);
}

.Hero-module__JgYmMq__hero__description {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.Hero-module__JgYmMq__hero__buttons {
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  display: flex;
}

.Hero-module__JgYmMq__hero__button {
  background-color: var(--orange-600);
  color: var(--special-hero);
  cursor: pointer;
  border-radius: 40px;
  align-items: center;
  gap: 8px;
  padding: 12px 30px;
  font-weight: bold;
  transition: background-color .3s, transform .2s;
  animation: 2s infinite Hero-module__JgYmMq__bounce;
  display: inline-flex;
}

.Hero-module__JgYmMq__hero__button:hover {
  background-color: var(--orange-500);
  transform: translateY(-2px);
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .Hero-module__JgYmMq__--hero-logo {
    width: 300px;
  }

  .Hero-module__JgYmMq__hero__description {
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px) {
  .Hero-module__JgYmMq__--hero-logo {
    width: 300px;
  }

  .Hero-module__JgYmMq__hero__description {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .Hero-module__JgYmMq__hero {
    padding-left: 50px;
  }

  .Hero-module__JgYmMq__--hero-logo {
    width: 250px;
  }

  .Hero-module__JgYmMq__hero__description {
    font-size: 1rem;
  }

  .Hero-module__JgYmMq__hero__button {
    padding: 10px 25px;
  }
}

/* [project]/src/styles/Tooltip.module.css [client] (css) */
.Tooltip-module__VfJNqa__tooltip__wrapper {
  display: inline-block;
  position: relative;
}

.Tooltip-module__VfJNqa__tooltip__content {
  background-color: var(--sp-b);
  color: var(--special);
  border: 1px solid var(--black);
  white-space: nowrap;
  opacity: 0;
  border-radius: 50px;
  padding: 6px 10px;
  font-size: .75rem;
  animation: .35s ease-out forwards Tooltip-module__VfJNqa__tooltipFadeIn;
  position: absolute;
}

.Tooltip-module__VfJNqa__tooltip__up {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%)translateY(6px);
}

.Tooltip-module__VfJNqa__tooltip__down {
  top: 125%;
  left: -50%;
  transform: translateX(-50%)translateY(-6px);
}

.Tooltip-module__VfJNqa__tooltip__left {
  top: 100%;
  right: 15%;
  transform: translateY(-50%)translateX(6px);
}

.Tooltip-module__VfJNqa__tooltip__right {
  top: 50%;
  left: 125%;
  transform: translateY(-50%)translateX(-6px);
}

@keyframes Tooltip-module__VfJNqa__tooltipFadeIn {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .Tooltip-module__VfJNqa__tooltip__content {
    opacity: 1;
    animation: none;
  }
}

/* [project]/src/components/List/List.module.css [client] (css) */
.List-module__rZUNCG__list {
  background-color: var(--gray-025);
  color: var(--gra-300);
  flex-direction: column;
  gap: 30px;
  padding: 60px 400px;
  display: flex;
}

.List-module__rZUNCG__list__header {
  border-bottom: 2px solid var(--gray-200);
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
  padding-bottom: 20px;
  display: flex;
}

.List-module__rZUNCG__list__heading {
  margin: 1.5rem 0 0;
  font-size: 1.8rem;
}

.List-module__rZUNCG__list__heading .List-module__rZUNCG__destaque {
  color: var(--orange-600);
}

.List-module__rZUNCG__list__heading .List-module__rZUNCG__secundario {
  color: var(--gray-700);
}

.List-module__rZUNCG__list__intro {
  color: var(--gray-700);
  margin-top: .25rem;
  font-size: 1rem;
}

.List-module__rZUNCG__list__actions {
  gap: 10px;
  display: flex;
}

.List-module__rZUNCG__button__format {
  border: 1px solid var(--gray-300);
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  font-size: 1rem;
}

.List-module__rZUNCG__list__items-container.List-module__rZUNCG__grid-view {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  display: grid;
}

.List-module__rZUNCG__list__items-container.List-module__rZUNCG__list-view {
  flex-direction: column;
  gap: 30px;
  display: flex;
}

.List-module__rZUNCG__list__item {
  border-bottom: 1px solid var(--gray-300);
  margin-bottom: 40px;
  padding-bottom: 25px;
  display: flex;
}

.List-module__rZUNCG__list__logo {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: transform .3s, box-shadow .3s, border-radius .3s;
}

.List-module__rZUNCG__list__logo:hover {
  cursor: pointer;
  border-radius: 0%;
  transform: scale(1.2);
  box-shadow: 0 8px 16px #00000040;
}

.List-module__rZUNCG__list__content {
  max-width: 800px;
  padding-left: 20px;
}

.List-module__rZUNCG__list__title {
  color: var(--gray-800);
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-flex;
}

.List-module__rZUNCG__list__title:hover:after {
  transform: translateX(4px);
}

.List-module__rZUNCG__list__categories {
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  display: flex;
}

.List-module__rZUNCG__list__category {
  background-color: var(--gray-100);
  color: var(--gray-800);
  white-space: nowrap;
  border-radius: 20px;
  align-items: center;
  gap: 6px;
  margin: 10px 0;
  padding: 10px;
  font-size: .85rem;
  font-weight: 500;
  display: inline-flex;
}

.List-module__rZUNCG__list__row {
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.List-module__rZUNCG__list__description {
  color: var(--gray-500);
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  flex: auto;
  min-width: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  display: -webkit-box;
  overflow: hidden;
}

.List-module__rZUNCG__list__more {
  color: var(--gray-700);
  border: 1px solid var(--gray-700);
  border-radius: 25px;
  flex-shrink: 0;
  align-items: center;
  gap: 6px;
  padding: 6px 14px;
  font-size: .95rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
  display: inline-flex;
}

.List-module__rZUNCG__list__more:hover {
  background-color: var(--gray-075);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px #00000026;
}

.List-module__rZUNCG__list__social {
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 8px;
  display: flex;
}

.List-module__rZUNCG__list__social-icon {
  border: 1px solid var(--gray-400);
  width: 50px;
  height: 50px;
  color: var(--gray-400);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: .95rem;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.List-module__rZUNCG__list__social-icon:hover {
  background-color: var(--hover-color, #ee7d21);
  color: var(--gray-900);
  border: 1px solid var(--gray-900);
  transform: scale(1.01);
}

.List-module__rZUNCG__list__contact {
  margin-top: 16px;
  display: flex;
}

.List-module__rZUNCG__list__contact-button {
  color: var(--gray-500);
  border: 1px solid var(--gray-500);
  border-radius: 100px;
  padding: 10px 24px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color .3s, transform .2s;
}

.List-module__rZUNCG__list__contact-button:hover {
  background-color: var(--gray-075);
  transform: translateY(-1px);
}

@media (min-width: 64rem) and (max-width: 1280px) {
  .List-module__rZUNCG__list {
    padding: 4rem clamp(2rem, 6vw, 8rem);
  }

  .List-module__rZUNCG__list__row {
    flex-direction: column;
    align-items: start;
    gap: 12px;
    padding: 10px 0;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .List-module__rZUNCG__list {
    text-align: center;
    padding: 3.75rem clamp(1.5rem, 8vw, 25rem);
  }

  .List-module__rZUNCG__list__content {
    padding-left: 0;
  }

  .List-module__rZUNCG__list__item {
    flex-direction: column;
    align-items: center;
  }

  .List-module__rZUNCG__list__logo {
    width: 60px;
    height: 60px;
  }

  .List-module__rZUNCG__list__categories, .List-module__rZUNCG__list__social, .List-module__rZUNCG__list__contact {
    justify-content: center;
  }

  .List-module__rZUNCG__events {
    width: 60%;
    margin: 1rem auto;
  }

  .List-module__rZUNCG__list__row {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .List-module__rZUNCG__list {
    text-align: center;
    padding: 3.75rem clamp(1.5rem, 8vw, 25rem);
  }

  .List-module__rZUNCG__list__content {
    padding-left: 0;
  }

  .List-module__rZUNCG__list__item {
    flex-direction: column;
    align-items: center;
  }

  .List-module__rZUNCG__list__logo {
    width: 60px;
    height: 60px;
  }

  .List-module__rZUNCG__list__social {
    justify-content: center;
    gap: 20px;
  }

  .List-module__rZUNCG__list__categories {
    justify-content: center;
  }

  .List-module__rZUNCG__list__contact {
    justify-content: center;
    display: flex;
  }

  .List-module__rZUNCG__events {
    width: 60%;
    margin: 1rem auto;
  }

  .List-module__rZUNCG__list__row {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
  }
}

/* [project]/src/styles/SearchBar.module.css [client] (css) */
.SearchBar-module__gLWCjG__search__bar {
  border: 1px solid var(--gray-300);
  background-color: #fff;
  border-radius: 25px;
  align-items: center;
  width: 40px;
  height: 50px;
  transition: width .3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.SearchBar-module__gLWCjG__search__bar.SearchBar-module__gLWCjG__expanded {
  width: 250px;
}

.SearchBar-module__gLWCjG__search__bar__icon {
  cursor: pointer;
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
}

.SearchBar-module__gLWCjG__search__bar__input {
  opacity: 0;
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 10px 10px 0;
  font-size: 1rem;
  transition: opacity .3s;
}

.SearchBar-module__gLWCjG__search__bar.SearchBar-module__gLWCjG__expanded .SearchBar-module__gLWCjG__search__bar__input {
  opacity: 1;
}

/* [project]/src/components/Navbar/Navbar.module.css [client] (css) */
.Navbar-module___rHu7W__navbar {
  z-index: 1;
  background-color: var(--gray-025);
  border-bottom: 1px solid var(--gray-200);
  width: 100%;
  height: 80px;
  transition: background-color .3s ease-in-out, height .3s color .3s ease-in-out;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  display: flex;
  position: fixed;
}

.Navbar-module___rHu7W__navbar--top {
  display: none;
}

.Navbar-module___rHu7W__navbar--scrolled .Navbar-module___rHu7W__navbar__logo, .Navbar-module___rHu7W__navbar--scrolled .Navbar-module___rHu7W__navbar__links a, .Navbar-module___rHu7W__navbar--scrolled .Navbar-module___rHu7W__navbar__icons, .Navbar-module___rHu7W__navbar--scrolled .Navbar-module___rHu7W__navbar__icons .Navbar-module___rHu7W__theme__toggle .Navbar-module___rHu7W__icon {
  color: var(--black);
}

.Navbar-module___rHu7W__navbar__links {
  gap: 30px;
  display: flex;
}

.Navbar-module___rHu7W__logo {
  width: 150px;
}

.Navbar-module___rHu7W__button__format {
  border: 1px solid var(--gray-300);
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  font-size: 1rem;
}

.Navbar-module___rHu7W__theme__toggle .Navbar-module___rHu7W__icon {
  cursor: pointer;
  color: var(--black);
  font-size: 1.3rem;
  transition: color .3s;
}

.Navbar-module___rHu7W__theme__toggle .Navbar-module___rHu7W__icon:hover {
  color: var(--orange-600);
}

.Navbar-module___rHu7W__navbar__links a {
  text-decoration: none;
  transition: color .25s ease-in-out;
}

.Navbar-module___rHu7W__navbar__links a:hover, .Navbar-module___rHu7W__navbar__links a.Navbar-module___rHu7W__navbar__action:visited {
  color: var(--orange-600);
}

.Navbar-module___rHu7W__navbar__icons {
  align-items: center;
  display: flex;
}

.Navbar-module___rHu7W__navbar__hamburger {
  display: none;
}

@media (min-width: 64rem) and (max-width: 1280px) {
  .Navbar-module___rHu7W__navbar {
    height: 80px;
    padding: 0 60px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Navbar-module___rHu7W__navbar {
    height: 80px;
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .Navbar-module___rHu7W__navbar {
    padding: 0 30px;
  }

  .Navbar-module___rHu7W__navbar__hamburger_and_theme {
    gap: 15px;
    display: flex;
  }

  .Navbar-module___rHu7W__navbar__hamburger_and_theme .Navbar-module___rHu7W__theme-toggle, .Navbar-module___rHu7W__navbar__hamburger_and_theme .Navbar-module___rHu7W__navbar__hamburger {
    align-items: center;
    display: flex;
  }

  .Navbar-module___rHu7W__navbar__hamburger {
    color: var(--black);
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
  }

  .Navbar-module___rHu7W__navbar__links.Navbar-module___rHu7W__active {
    opacity: 1;
    max-height: 300px;
  }

  .Navbar-module___rHu7W__navbar__links {
    background-color: var(--gray-025);
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
    transition: max-height .4s, opacity .3s;
    position: absolute;
    top: 70px;
    right: 0;
  }

  .Navbar-module___rHu7W__navbar__links a {
    border-bottom: 1px solid var(--gray-200);
    width: 100%;
    padding-bottom: 20px;
  }
}

/* [project]/src/components/Collaborate/CollaborateButton.module.css [client] (css) */
.CollaborateButton-module__Cg0Efq__collaborate-wrapper {
  background-color: var(--gray-025);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  display: flex;
}

.CollaborateButton-module__Cg0Efq__collaborate {
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 20px;
  padding: 12px 26px;
  transition: background-color .3s, transform .2s;
  display: inline-flex;
}

.CollaborateButton-module__Cg0Efq__collaborate:hover {
  background-color: var(--gray-100);
  transform: translateY(-2px);
}

.CollaborateButton-module__Cg0Efq__hero__github {
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 20px;
  padding: 12px 30px;
  transition: background-color .3s, transform .2s;
  display: inline-flex;
}

.CollaborateButton-module__Cg0Efq__hero__github:hover {
  background-color: var(--gray-100);
  transform: translateY(-2px);
}

/* [project]/src/components/Footer/Footer.module.css [client] (css) */
.Footer-module__Grjkva__footer {
  background-color: var(--dark-bg);
  color: var(--white);
  padding: 80px 0;
}

.Footer-module__Grjkva__footer__content {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.Footer-module__Grjkva__footer__bottom p {
  color: #fff;
}

.Footer-module__Grjkva__footer__link {
  color: var(--accent-red);
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: none;
}

@media (max-width: 48rem) {
  .Footer-module__Grjkva__footer {
    text-align: center;
  }

  .Footer-module__Grjkva__footer__bottom {
    max-width: 350px;
  }
}

/* [project]/src/styles/ScrollTopButton.module.css [client] (css) */
.ScrollTopButton-module__rYRroa__scroll-top {
  color: #fff;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  background-color: #ee7d21;
  border: none;
  padding: 12px 15px;
  font-size: 1.5rem;
  transition: opacity .3s, transform .3s, background-color .3s;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transform: translateY(20px);
}

.ScrollTopButton-module__rYRroa__scroll-top.ScrollTopButton-module__rYRroa__show {
  opacity: 1;
  transform: translateY(0);
}

.ScrollTopButton-module__rYRroa__scroll-top:hover {
  background-color: #ca6d20;
}

@media (max-width: 768px) {
  .ScrollTopButton-module__rYRroa__scroll-top {
    padding: 10px 12px;
    font-size: 1.3rem;
    bottom: 25px;
    right: 25px;
  }
}

@media (max-width: 480px) {
  .ScrollTopButton-module__rYRroa__scroll-top {
    padding: 8px 10px;
    font-size: 1.2rem;
    bottom: 30px;
    right: 30px;
  }
}

/*# sourceMappingURL=src_45d659fe._.css.map*/