.navbar {
  position: fixed;
  top: 0;
  padding: 0 400px;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, height 0.3s color 0.3s;
}

.navbar--top {
  background-color: transparent;
}

.navbar--top .navbar__logo,
.navbar--top .navbar__links a {
  color: #fff;
}

.navbar--scrolled {
  background-color: #fff;
}

.navbar--scrolled .navbar__logo,
.navbar--scrolled .navbar__links a {
  color: #000;
}

.navbar__links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar__hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 40px;
    background-color: #fff;
    min-height: 80px;
    overflow: visible;
  }

  .navbar--top .navbar__logo,
  .navbar--top .navbar__links a {
    color: #000;
  }

  .navbar__links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    border-radius: 0 0 8px 8px;
    z-index: 99;
    background-color: #fff;
  }

  .navbar__links a {
    color: #000;
    display: block;
    transition: background-color 0.3s;
  }

  .navbar__links.active {
    max-height: 300px;
    opacity: 1;
  }

  .navbar__hamburger {
    display: block;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
