.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  transition: background-color 0.3s ease-in-out, height 0.3s color 0.3s ease-in-out;
}

.navbar--top {
  display: none;
}

.navbar--scrolled .navbar__logo,
.navbar--scrolled .navbar__links a,
.navbar--scrolled .navbar__icons,
.navbar--scrolled .navbar__icons .theme-toggle .icon,
.navbar--scrolled .navbar__icons .language-toggle,
.navbar--scrolled .navbar__icons .language-toggle .lang {
  color: var(--black);
}

.navbar__links {
  display: flex;
  gap: 30px;
}

.navbar__links a {
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.navbar__links a:hover {
  color: var(--orange-600);
}

.navbar__links a.navbar__action:visited {
  color: var(--orange-600);
}

.navbar__icons {
  display: flex;
  align-items: center;
}

.theme-toggle .icon {
  cursor: pointer;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  color: var(--black);
}

.theme-toggle .icon:hover {
  color: var(--orange-600);
}

.navbar__hamburger {
  display: none;
}

@media (min-width: 64rem) and (max-width: 1280px) {
  .navbar {
    padding: 0 60px;
    height: 80px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 0 60px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar__hamburger-and-theme {
    display: flex;
    gap: 15px;
  }

  .navbar__hamburger-and-theme .theme-toggle,
  .navbar__hamburger-and-theme .navbar__hamburger {
    display: flex;
    align-items: center;
  }

  .navbar__hamburger {
    display: block;
    color: var(--black);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .navbar__links.active {
    max-height: 300px;
    opacity: 1;
  }

  .navbar__links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    padding-left: 30px;
    width: 100%;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    background-color: var(--white);
  }

  .navbar__links a {
    border-bottom: 1px solid var(--gray-200);
    padding-bottom: 20px;
    width: 100%;
  }
}
