.navbar {
  position: fixed;
  top: 0;
  padding: 0 400px;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, height 0.3s color 0.3s;
}

.navbar--top {
  background-color: transparent;
  display: none;
}

.navbar--top .navbar__logo,
.navbar--top .navbar__links a {
  color: var(--white);
}

.navbar--scrolled {
  background-color: var(--white);
}

.navbar--scrolled .navbar__logo,
.navbar--scrolled .navbar__links a,
.navbar--scrolled .navbar__icons,
.navbar--scrolled .navbar__icons .theme-toggle .icon,
.navbar--scrolled .navbar__icons .language-toggle,
.navbar--scrolled .navbar__icons .language-toggle .lang {
  color: var(--black);
}

.navbar--scrolled .navbar__links a:hover,
.navbar--scrolled .navbar__icons .theme-toggle .icon:hover,
.navbar--scrolled .navbar__icons .language-toggle .lang:hover {
  color: var(--orange-600);
}

.navbar__links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar__links a {
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.navbar__links a:hover {
  color: var(--orange-600);
}

.navbar__links a.navbar__action:visited {
  color: var(--orange-600);
}

.navbar__hamburger {
  display: none;
}

.navbar__icons {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--white);
}

.theme-toggle {
  display: flex;
  gap: 10px;
}
.theme-toggle .icon {
  cursor: pointer;
  font-size: 1.3rem;
  transition: color 0.3s;
}
.theme-toggle .icon:hover {
  color: var(--orange-600);
}

.language-toggle {
  display: flex;
  gap: 5px;
  font-weight: 500;
  cursor: pointer;
}

.language-toggle .lang:hover {
  color: var(--orange-600);
}


@media (min-width: 64rem) and (max-width: 1280px) {
  .navbar {
    padding: 0 60px;
    height: 80px;
  }

  .navbar__links {
    gap: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 0 60px;
    height: 80px;
  }

  .navbar__links {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 30px;
    background-color: var(--white);
    min-height: 80px;
    overflow: visible;
  }

  .navbar--top .navbar__logo,
  .navbar--top .navbar__links a {
    color: var(--black);
  }

  .navbar__links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    border-radius: 0 0 8px 8px;
    z-index: 99;
    background-color: var(--white);
  }

  .navbar__links.active {
    max-height: 300px;
    opacity: 1;
  }

  .navbar__hamburger {
    display: block;
    color: var(--black);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .navbar__links a {
    border-bottom: 1px solid var(--gray-200);
    padding-bottom: 20px;
    width: 100%;
  }
}
