.footer {
  background-color: var(--dark-bg);
  color: var(--white);
  padding: 80px 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.footer__bottom p {
  color: white;
}

.footer__link {
  background: none;
  border: none;
  color: var(--accent-red);
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .footer {
    padding: 4rem clamp(2rem, 6vw, 6rem);
  }
}

@media (max-width: 48rem) {
  .footer {
    padding: 3.5rem 3rem;
    text-align: center;
  }
}
