.footer {
  background-color: var(--dark-bg);
  color: var(--white);
  padding: 80px 0;
  
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.footer__bottom p {
  color: white;
}

.footer__link {
  background: none;
  border: none;
  color: var(--accent-red);
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 48rem) {
  .footer {
    text-align: center;
  }

  .footer__bottom {
    max-width: 350px;
  }
}
