@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bellota', sans-serif;
  line-height: 1.6;
  color: #333;
}

.hero__text {
  color: #fff;
}

.list__backgroun.light {
  background-color: #fcfcfc;
}

.list__backgroun.dark {
  background-color: #333333;
}